*{
  margin:0px;
  padding:0px;
}
body{
  background:#0065F0;
  height:100vh;
}
.platform{
  height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
header{
    color:white;
    position:relative;
    top: 10px;
    text-align:center;
    font-size: 3rem;
    font-family: "Hanalei fill",serif;
}
.container {
  display:block;
  position:relative;
  width:500px;
  height:500px;
  border-top-left-radius:160px;
  border-top-right-radius:160px;
  border-bottom-right-radius:160px;
  border-bottom-left-radius:160px;
  background:black;
}
.btn{
  position:absolute;
  width:249px;
  height:249px;
  cursor:pointer;
  border:solid black 4px;
}
#red{
  top:0;
  left:0;
  background:#F24E4B;
  border-top-left-radius:150px;
}
#green{
  top:0;
  right:0;
  background:#0CF097;
  border-top-right-radius:150px;
}
#blue{
  bottom:0;
  left:0;
  background:#1D93F2;
  border-bottom-left-radius:150px;
}
#yellow{
  bottom:0;
  right:0;
  background:#F0E73E;
  border-bottom-right-radius:150px;
}
.center-circle {
  position:absolute;
  top:50%;
  left:50%;
  width:150px;
  height:150px;
  background:#666;
  border-radius:50%;
  transform: translate(-50%, -50%);
  text-align:center;
  align-content:center;
  line-height:100px;
  color:white;
  font-weight:bold;
  font-family:"Joti one",sans-serif;
  font-size:1.5rem;
  line-height:1.7;
}
.btn:hover{
    opacity:0.8;
}
.pressed{
  box-shadow: 0px 3px 4px 0 #DBEDF3;
  opacity: 0.2;
}
.wrongAns{
    background-color: #5c0512;
}
.score-display{
  display:flex;
  flex-direction:column;
  position:absolute;
  right:20%;
  color:white;
  font-family:"Hanalei fill",serif;
}
